*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}
body
{
    height: 100vh;
    width: 100vw;
}
sup, sub
{
    font-weight: 400;
    font-family: cursive;
}
.container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
}
.container .screen_section
{
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}
textarea
{
    height: 100%;
    min-height: 150px;
    width: 100%;
    resize: none;
    background: #4b4b4b75;
    border: none;
    color: lightgrey;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: 20px;
    padding: 10px 5px;
    align-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 30;
}
@media screen and (orientation:landscape){
    textarea{
        min-height: 100px;
    }
}
.calc_body
{
    min-height: 300px;
    min-width: 200px;
    background: linear-gradient(to bottom, #4b4b4b75, #171717);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
}
.act_body
{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table
{
    border-spacing: 10px 10px;
}
td
{
    height: 43px;
    width: 43px;
    background: #333;
    text-align: center;
    border-radius: 50%;
    border-left: 2px solid #9492924e;
    border-top: 2px solid #9492924e;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: -2px 2px 5px #000;
    z-index: 20;
}
@media screen and (min-width:350px){
    .calc_body
    {
        width: 350px;
    }
    td{
        height: 45px;
        width: 45px;
        font-size: 18px;
    }
    table
{
    border-spacing: 20px 10px;
}
}
.purple
{
    background: #8000802e;
}
.switch
{
    background: #ff00005d;
}
.science
{
    background: #ffa60032;
}
.equal
{
    background: #0080003d;
}
.spliced
{
    background: orange;
}
td:hover
{
    transform: scale(1.1);
    border: none;
    box-shadow: 0 0 10px #000;
    border-right: 2px solid #9492924e;
    border-bottom: 2px solid #9492924e;
}
.bs
{
    background: rgba(0,0,255,.2);
}